.span12
  %h2 Edit Movie

  = form_tag movie_path(@movie), method: :put do
    = render 'movie_form'
    %div
      = submit_tag "Save Changes", class: "btn btn-primary"
      = link_to "Cancel", movie_path(@movie), class: "btn"
