.col-lg-6.col-offset-3
  %h2.page-header Create New Movie

  = form_tag movies_path, method: :post do
    = render 'movie_form', movie: @movie
    = submit_tag "Save Changes", class: "btn btn-primary"
    = link_to "Cancel", movies_path, class: "btn btn-default"
