.row
  .col-lg-12
    %h2 Search Results
    %table.table
      %thead
        %tr
          %th Movie Title
          %th Release Date
      %tbody
        - @movies.each_with_index do |movie, i|
          %tr
            %td= link_to movie.title, "http://www.themoviedb.org/movie/#{movie.id}"
            %td= release_date movie
