%h2.page-header Search Results

%table.table
  %thead
    %tr
      %th Movie Title
      %th Release Date
  %tbody
    - @movies.each_with_index do |movie, i|
      %tr
        %td= movie.title
        %td= release_date movie
        