.span12
  %h2 Search Results

  %table.table
    %thead
      %tr
        %th #
        %th Movie Title
        %th Release Date
    %tbody
      - @movies.each_with_index do |movie, i|
        %tr
          %td= i+1
          %td= movie.title
          %td= Time.parse(movie.release_date).strftime("%B %d, %Y")