@import "twitter/bootstrap";

body { padding-top: 60px; }

footer {
  border-top: 1px solid #e5e5e5;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 20px;
  p {
    margin-bottom: 0px;
  }
}

.pad-bottom {
  margin-bottom: 20px;
}

.btn {
  margin-bottom: 4px;
}

.alert {
  margin-bottom: 0px;
}

div.navbar-text {
  padding: 15px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.page-header {
  margin-top: 20px;
}

.review-average {
  font-size: 1.5em;
}