@import "bootstrap";
body { padding-top: 60px; }

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


/* forms */
form {
  display: block;
}
input, input[type="text"], textarea, select, .uneditable-input {
  width: 30%;
  height: auto;
  @include box-sizing;
  display: block;
}
