%footer
  %p.text-center
    %small
      adapted from and inspired by
      = link_to "saasbook", "http://beta.saasbook.info"
  %p.text-center
    %small 
      created by
      = link_to "mtkp", "https://github.com/mtkp"
  %p.text-center
    %small
      see the
      = link_to "src", "https://github.com/mtkp/myrottenpotatoes"
