.navbar.navbar-fixed-top.navbar-inverse
  .container
    = render 'layouts/navbar_btn'
    = link_to "Rotten Potatoes", root_path, class: "navbar-brand"
    .nav-collapse.collapse.navbar-responsive-collapse
      %ul.nav.navbar-nav
        %li= link_to "Sign in with Twitter", "#"