.navbar.navbar-fixed-top.navbar-inverse
  .container
    %button.navbar-toggle{data: { toggle: "collapse", target: ".navbar-responsive-collapse" }}
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar

    = link_to "Rotten Potatoes", root_path, class: "navbar-brand"
    .nav-collapse.collapse.navbar-responsive-collapse
      %ul.nav.navbar-nav
        %li= link_to "Sign in with Twitter", "#"